body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #faf8ef;
}

.game-container {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-gap: 10px;
	margin: 20px auto;
}

.cell {
	width: 100px;
	height: 100px;
	background-color: #eee4da; /* Fallback color */
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background-size: cover; /* Ensure the image covers the cell */
	background-position: top center; /* Align the image to the top */
}

.cell-2 {
	background-color: #eee4da;
}
.cell-4 {
	background-color: #ede0c8;
}
.cell-8 {
	background-color: #f2b179;
}
.cell-16 {
	background-color: #f59563;
}
.cell-32 {
	background-color: #f67c5f;
}
.cell-64 {
	background-color: #f67c5f;
}
.cell-128 {
	background-color: #f9f85f;
}
.cell-256 {
	background-color: #f9f85f;
}
.cell-512 {
	background-color: #c2c2c2;
}
.cell-1024 {
	background-color: #c2c2c2;
}
.cell-2048 {
	background-color: #c2c2c2;
}

.score {
	font-size: 20px;
	margin-top: 20px;
}
